.signIn {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--basedark);
  border-radius: var(--br-6xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.button:hover {
  background-color: var(--color-darkslategray);
}
