.scheduleIcon {
  height: 44px;
  width: 44px;
  position: relative;
  object-fit: cover;
}
.scheduleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
}
.flexibleSchedule {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.flexibleScheduleWrapper {
  width: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.chooseYourWorking {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-black);
}
.frameGroup,
.frameParent {
  width: 137px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  flex-shrink: 0;
}
.frameParent {
  height: 151px;
  width: 165px;
  background-color: var(--lightgreen);
  overflow: hidden;
  padding: var(--padding-26xl) var(--padding-16xl) var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-28xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--accentcolor);
  font-family: var(--font-poppins);
}
