@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-rubik: Rubik;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-base: 16px;
  --font-size-smi: 13px;
  --font-size-3xs: 10px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --lightgreen: #f2faf5;
  --color-mintcream-100: #eef4ec;
  --color-gray-100: #fcfcfc;
  --basedark: #080404;
  --color-darkslategray: #3b3838;
  --color-dimgray-100: #5d5d5d;
  --color-dimgray-200: #535353;
  --color-black: #000;
  --accentcolor: #63b178;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(221, 221, 221, 0.41);
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f6f6f6;
  --color-whitesmoke-300: #f5f5f4;
  --color-darkgray: #b4b4b4;

  /* Gaps */
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-lg: 18px;
  --gap-300xl: 319px;
  --gap-36xl: 55px;
  --gap-xl: 20px;
  --gap-264xl: 283px;
  --gap-mini: 15px;
  --gap-7xs: 6px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-smi: 13px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-11xl: 30px;
  --gap-24xl: 43px;
  --gap-65xl: 84px;
  --gap-84xl: 103px;
  --gap-53xl: 72px;
  --gap-40xl: 59px;
  --gap-11xs-5: 1.5px;
  --gap-10xs: 3px;
  --gap-mid: 17px;
  --gap-mid-7: 17.7px;
  --gap-28xl: 47px;
  --gap-2xs: 11px;
  --gap-2xl: 21px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-65xl: 84px;
  --padding-xl: 20px;
  --padding-88xl: 107px;
  --padding-2xl: 21px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-lgi: 19px;
  --padding-387xl: 406px;
  --padding-10xs: 3px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-4xs: 9px;
  --padding-lg: 18px;
  --padding-47xl: 66px;
  --padding-22xl: 41px;
  --padding-17xl: 36px;
  --padding-9xs: 4px;
  --padding-6xs: 7px;
  --padding-534xl: 553px;
  --padding-20xl: 39px;
  --padding-8xl: 27px;
  --padding-11xs: 2px;
  --padding-39xl: 58px;
  --padding-mini: 15px;
  --padding-2xs: 11px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-26xl: 45px;
  --padding-16xl: 35px;
  --padding-6xl: 25px;
  --padding-11xl: 30px;
  --padding-138xl: 157px;
  --padding-59xl: 78px;
  --padding-30xl: 49px;
  --padding-24xl: 43px;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-base: 16px;
  --br-mini: 15px;
  --br-40xl: 59px;
  --br-2xs: 11px;
  --br-4xl: 23px;
  --br-13xl: 32px;
  --br-4xs: 9px;
  --br-36xl: 55px;
  --br-smi: 13px;
}
